# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/build/CMakeFiles/4.1.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/build/CMakeFiles/4.1.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
/build/CMakeFiles/4.1.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/build/CMakeFiles/4.1.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/build/CMakeFiles/4.1.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/build/CMakeFiles/4.1.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/build/CMakeFiles/4.1.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/build/CMakeFiles/4.1.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
/build/CMakeFiles/4.1.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/build/CMakeFiles/4.1.0-rc1/CompilerIdC/Debug/CompilerIdC.exe.recipe
/build/CMakeFiles/4.1.0-rc1/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/4.1.0-rc1/CompilerIdC/CompilerIdC.vcxproj
/build/CMakeFiles/4.1.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/build/CMakeFiles/4.1.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
/build/CMakeFiles/4.1.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/build/CMakeFiles/4.1.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/build/CMakeFiles/4.1.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/build/CMakeFiles/4.1.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/build/CMakeFiles/4.1.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/build/CMakeFiles/4.1.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
/build/CMakeFiles/4.1.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/build/CMakeFiles/4.1.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
/build/CMakeFiles/4.1.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/4.1.0-rc1/CompilerIdCXX/CompilerIdCXX.vcxproj
/build/CMakeFiles/4.1.0-rc1/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/build/CMakeFiles/4.1.0-rc1/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
/build/CMakeFiles/4.1.0-rc1/CMakeCCompiler.cmake
/build/CMakeFiles/4.1.0-rc1/CMakeCXXCompiler.cmake
/build/CMakeFiles/4.1.0-rc1/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/4.1.0-rc1/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/4.1.0-rc1/CMakeRCCompiler.cmake
/build/CMakeFiles/4.1.0-rc1/CMakeSystem.cmake
/build/CMakeFiles/4.1.0-rc1/VCTargetsPath.txt
/build/CMakeFiles/4.1.0-rc1/VCTargetsPath.vcxproj
/build/CMakeFiles/4ece9042b82447d6e74db37caa2e4b8c/generate.stamp.rule
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/CMakeConfigureLog.yaml
/build/CMakeFiles/generate.stamp
/build/CMakeFiles/generate.stamp.depend
/build/CMakeFiles/generate.stamp.list
/build/CMakeFiles/InstallScripts.json
/build/CMakeFiles/TargetDirectories.txt
/build/game.dir/Release/game.tlog/CL.command.1.tlog
/build/game.dir/Release/game.tlog/Cl.items.tlog
/build/game.dir/Release/game.tlog/CL.read.1.tlog
/build/game.dir/Release/game.tlog/CL.write.1.tlog
/build/game.dir/Release/game.tlog/CustomBuild.command.1.tlog
/build/game.dir/Release/game.tlog/CustomBuild.read.1.tlog
/build/game.dir/Release/game.tlog/CustomBuild.write.1.tlog
/build/game.dir/Release/game.tlog/game.lastbuildstate
/build/game.dir/Release/game.tlog/link.command.1.tlog
/build/game.dir/Release/game.tlog/link.read.1.tlog
/build/game.dir/Release/game.tlog/link.secondary.1.tlog
/build/game.dir/Release/game.tlog/link.write.1.tlog
/build/game.dir/Release/game.exe.recipe
/build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
/build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
/build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
/build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
/build/x64/Release/ALL_BUILD/ALL_BUILD.recipe
/build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
/build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
/build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
/build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
/build/ALL_BUILD.vcxproj
/build/ALL_BUILD.vcxproj.filters
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/game.vcxproj
/build/game.vcxproj.filters
/build/spt-2d.sln
/build/ZERO_CHECK.vcxproj
/build/ZERO_CHECK.vcxproj.filters
/build-web/game.js
/build-web/game.wasm
/build-web/index.html
/build-wx/game-wasm.js
/build-wx/game-wasm.wasm
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-bc9d56fb2b7321fc3615.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-5c68c0b669407b875bc4.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-366309e8c746652c2ca6.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2026-03-22T21-18-30-0996.json
/cmake-build-debug/.cmake/api/v1/reply/target-game-Debug-adc8c0895f1d6fdeaedd.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-d2bfa9e3ef40a2fa8ce6.json
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/game.dir/embed.manifest
/cmake-build-debug/CMakeFiles/game.dir/intermediate.manifest
/cmake-build-debug/CMakeFiles/game.dir/manifest.rc
/cmake-build-debug/CMakeFiles/game.dir/manifest.res
/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
